<ion-header>
  <ion-toolbar>
    <ion-title>
      Invoice
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="exportPdf()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="printable-content">
    <div class="printable-area" id="printable-area">
      <table class="header-table">        
        <tr><td>EXXIS Bolivia SRL</td></tr>
        <tr><td>Av. Hernando Siles N° 5593</td></tr>
        <tr><td>Telf. (591) 70828708</td></tr>
        <tr><td style="text-align: right;">PEDIDO No. 00053</td></tr>
        <tr><td class="title">COMPROBANTE DE PEDIDO</td></tr>
      </table>
      <table class="subheader-table">
        <tr>
          <td width="95%">
              <dt><br/></dt>
            <dt>A nombre de:</dt>
            <dd>Alcides Avaroma Ramirez</dd>
            <dd>Calle Cnel. A. Aimerich #3490</dd>
            <dd>Telf. (591) 70828708</dd>
        </tr>
      </table>
      <h3 style="text-align: center;">Detalle del pedido</h3>
      <table class="detail-table">
        <tr>
          <th width="50%">Item</th>
          <th width="10%">Cant.</th>
          <th width="10%">P/U</th>
          <th width="10%">Desc.</th>
          <th width="10%">Total</th>
        </tr>
        <tr>
          <td>Apple Macbook Pro Retina 2018</td>
          <td>1</td>
          <td style="text-align: right;">$4.500</td>          
          <td style="text-align: right;">$0.50</td>
          <td style="text-align: right;">$4.000</td>
        </tr>
        <tr>
          <td>Apple Mouse Bluetooth</td>
          <td>1</td>
          <td style="text-align: right;">$500</td>
          <td style="text-align: right;">$0.00</td>
          <td style="text-align: right;">$500</td>
        </tr>
        <tr>
          <td>Apple Cinema Display</td>
          <td>1</td>
          <td style="text-align: right;">$1.000</td>
          <td style="text-align: right;">$0.00</td>
          <td style="text-align: right;">$1.000</td>
        </tr>
      </table>
      <table class="footer-table">
        <tr>
          <td width="80%">Sub Total: </td>
          <td width="20%">$6.000</td>
        </tr>
        <tr>
          <td>Desc.: </td>
          <td>$0.500</td>
        </tr>
        <tr>
            <td>Total: </td>
            <td>$5.500</td>
          </tr>
      </table>
    </div>
  </div>
</ion-content>